.bg{
  height: 100vh; 
  background: url(../../../asset/img/bg.png);
  background-size:100% 100%;  
  background-repeat: repeat;

  .index-content{
    .ant-layout-sider {
      min-width: 100%!important;
      max-width: 100%!important;
    }
    .ant-layout-content {
      margin: 0px!important;
      min-width: 100%!important;
      max-width: 100%!important;
    }
  } 
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}