.well_box {
    box-shadow:90px 0 100px rgba(0, 0, 0, 0.8) inset, 
            0 50px 100px rgba(0, 0, 0, 0.8) inset,
            0px -50px 100px rgba(0, 0, 0, 0.8) inset;
    .wells{
        font-weight: 700;
        color:rgba(255, 255, 255, 0.5);
        filter:alpha(opacity=50);
        -moz-opacity:0.6;
        opacity:0.6;
        font-size:48px; 
        text-align: center;
        .Position_R {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: All 0.4s ease-in-out;
            -webkit-transition: All 0.4s ease-in-out;
            -moz-transition: All 0.4s ease-in-out;
            -o-transition: All 0.4s ease-in-out;
        }
        .none{
            display:none
        }
        .ImgContent{
            position: absolute;
            color:#fff;
            top:0px;
            font-size:18px;
            font-family:'Microsoft YaHei';
            font-weight: 400;
            letter-spacing: 8px;
            padding: 10px;
        }
        .main_img_tag {

        }
        .Position_R:hover{
            border-radius: 10px;
            z-index: 999;
            border:5px solid rgba(240, 240, 240, 0.5);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
            cursor: pointer;
            z-index: 999;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
        }
    }
}
