.wells{
    font-weight: 700;
    color:rgba(255, 255, 255, 0.5);
    filter:alpha(opacity=50);
    -moz-opacity:0.6;
    opacity:0.6;
    font-size:38px; 
    text-align: center;
    .Position_R {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .ShadeWell{

        }
    }

}